.main {
  display: flex;
  flex-direction: column;
  height: var(--main-height);
  max-height: var(--main-max-height);
  padding: 1.625rem 1.375rem 1.875rem;
  gap: 1rem;
  max-width: var(--main-max-width);
  min-width: var(--main-min-width);
  width: var(--main-width);
  background: var(--color-black);
  border: 2px solid var(--color-white);
  border-radius: 14px;
}
